.DS_Store

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake



#
*.exe
*.dll
*.obj
*.a

#Eclipse
*.cproject
*.project
*.classpath
*.settings

*.log


# executables
fmu
fmu_main
