[submodule "include/fmi"]
	path = include/fmi
	url = https://github.com/into-cps-association/fmi.git
[submodule "thrird_party/zlib"]
	path = thrird_party/zlib
	url = https://github.com/madler/zlib.git
